
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Montserrat", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.bgimg-1 {
  background-image: url("../img/bg1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../img/bg2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../img/bg.png");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.borderjudul {
  background-image: url("../img/bg.png");
  color: #009579;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 150);
  border: 3px solid #009579;
  transition: background-image 2s, border-color 2.5s;
}

.caption span.border {
  background-color: #009579;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;

}

.caption span.borderbutton {
  background-color: #009579;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.caption span.borderbutton:hover {
  background: #007f67;
}

.caption span.borderbutton:active {
  transform: scale(0.98);
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #009579;
}

footer
{
    margin: 0;
    min-height: 100px;
    background-color: #009579;
    text-align: center;
}
footer p
{
    margin: auto;
    padding-top: 35px;
    color: #f7f7f7
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
